<%- include partial/header.ejs %> 
<div class="jumbotron">
	<h1>Services</h1>
</div>	
    <p>I am currently learning about:</p>
	<ul>
		<li>Html</li>
		<li>PHP</li>
		<li>Java</li>
		<li>nodeJS</li>
		<li>Project Managment</li>
		<li>SQL</li>
	</ul>
	<p>and so much more!!!</p>
<%- include partial/footer.ejs %> 
