<!DOCTYPE html>
<html>
  <head>
    <title>Michael Meissner - Portfolio</title>
    <!-- Scale for device responsiveness -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body>
      <nav>
        <ul>
            <li><a href="/">Home</a></li>  
            <li><a href="/about">About</a></li>  
            <li><a href="/project">Projects</a></li>  
			<li><a href="/service">Services</a></li>  
			<li><a href="/contact">Contact Me</a></li>  
        </ul>
      </nav>